{{ define "main" }}
<html data-theme="dracula">
	<section>
    <!-- link to image source - https://pixabay.com/photos/astronomy-bright-constellation-dark-1867616/ -->
    <div class="hero min-h-screen" style="background-image: url(star-background.webp);">
			<div class="hero-overlay bg-opacity-60"></div>
			<div class="hero-content text-center text-neutral-content">
			<div class="max-w-lg">
					<h1 class="mb-5 text-5xl font-bold text-secondary">{{ .Site.Title }}</h1>
					<p class="text-2xl">Awesome Stories Are Coming.</p> 
					<p class="text-2xl">Please Check Back Soon</p>
					<!-- <a href="mailto:ryan@rosstechnologysolutions.com"><button class="btn btn-primary">Email</button></a> -->
			</div>
			</div>
		</div>
	</section>
</html>
{{ end }}